#container {
  padding: 4rem;
  padding-top: 10.5rem;
  width: 100%;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  max-height: calc(100vh - 10.5rem);
}

#intro {
  text-align: center;
  padding: 4rem 0;
}

#intro h3 {
  font-weight: 300;
}

#language_badge {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  border-radius: 20rem;
}

#links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  font-size: 2.4rem;
  padding: 4rem 0;
  font-weight: 300;

  transition: all ease-out 200ms;
}

@media screen and (max-width: 1080px) {
  #links {
    grid-template-columns: repeat(1,1fr)
  }
}

#link_item {
  width: 100%;
}

#preview {
  display: flex;
  justify-content: center;
}

#preview img {
  width: 100%;
  margin: 0 auto;
}

#loader {
  position: absolute;
  top: 10.5rem;
  left: 0%;
  background-color: #fff;
  width: 100%;
  height: calc(100% - 10.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10.5rem;
}